{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({% static 'img/banner/1.jpeg' %});">
            <div class="container">
                
            </div>
        </div>
        <div class="about-us-area pt-100 pb-100" style="background-color: rgb(168, 211, 225);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="about-us-img pr-30 wow fadeInLeft">
                            <img alt="" src="{% static 'img/banner/logo.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                        <div class="about-us-content">
                            <h2>О игровом рае</h2>
                            <p>"Игровой Рай" - это не просто онлайн-магазин, это место, где истинные геймеры находят свой райский уголок. Мы стремимся быть не просто торговой площадкой, но и центром сообщества, где каждый игрок может найти не только желанные игры и аксессуары, но и поддержку, вдохновение и веселье.</p>
                            <div class="about-us-list">
                                <ul>
                                    <li>Широкий выбор видеоигр</li>
                                    <li>Отличные цены, которые себе может позволить каждый</li>
                                    <li>Гарантия получение товара </li>
                                </ul>
                            </div>
                            <div class="about-us-btn">
                                <a class="btn-style" href="contact.html">Связаться с нами</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-count-area pb-70 pt-100 gray-bg" style="background-color: rgb(158, 201, 215);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">5</h2>
                            <span>Лет работы</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">290</h2>
                            <span>Счастливых людей</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">968</h2>
                            <span>Количество проданных ключей</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-count mb-30 text-center">
                            <h2 class="count">78492</h2>
                            <span>Посещений сайта</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="team-ara pt-95 pb-70" style="background-color: rgb(168, 211, 225);">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>Наша команда</h2>
                    <p>Самые лучшие собрались только для того, что бы вы могли покупать игры без проблем </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="{% static 'img/team/me.jpg' %}" alt="">
                                </a>
                                <div class="team-social">
                                    <a href="https://vk.ru/eziwin">
                                        <img src="{% static 'img/team/vkk.png' %}" alt="" id="vkIcon">
                                    </a>
                                    <a href="#">
                                        <img src="{% static 'img/team/telega.png' %}" alt="" id="tgIcon">
                                    </a>
                                    
                                    
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Максим Кувшинов</h4>
                                <span>Директор </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="{% static 'img/team/rain.jpg' %}" alt="">
                                </a>
                                <div class="team-social">
                                    <a href="https://vk.ru/eziwin">
                                        <img src="{% static 'img/team/vkk.png' %}" alt="" id="vkIcon">
                                    </a>
                                    <a href="#">
                                        <img src="{% static 'img/team/telega.png' %}" alt="" id="tgIcon">
                                    </a>
                                    
                                    
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Роман Голубев</h4>
                                <span>Админстратор </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="{% static 'img/team/lesha.jpg' %}" alt="">
                                </a>
                                <div class="team-social">
                                    <a href="https://vk.ru/eziwin">
                                        <img src="{% static 'img/team/vkk.png' %}" alt="" id="vkIcon">
                                    </a>
                                    <a href="#">
                                        <img src="{% static 'img/team/telega.png' %}" alt="" id="tgIcon">
                                    </a>
                                    
                                    
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Алексей Шкредов</h4>
                                <span>Разработчик</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="{% static 'img/team/igor.jpg' %}" alt="">
                                </a>
                                <div class="team-social">
                                    <a href="https://vk.ru/eziwin">
                                        <img src="{% static 'img/team/vkk.png' %}" alt="" id="vkIcon">
                                    </a>
                                    <a href="#">
                                        <img src="{% static 'img/team/telega.png' %}" alt="" id="tgIcon">
                                    </a>
                                    
                                    
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Игорь Неверов</h4>
                                <span>Поддержка</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
		
