{% load static %}
            <div class="header-bottom transparent-bar" style="background-color: #ADD8E6;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5">
                            <div class="logo pt-39">
                                <a href="/"><img alt="" src="{% static 'img/logo/logo.png' %}"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="/">Главная страница</a>
                                            <!-- <ul class="submenu">
                                                <li>
                                                    <a href="index.html">Home</a>
                                                </li>
                                                 <li>
                                                    <a href="index-2.html">home version 2</a>
                                                </li>
                                            </ul> -->
                                        </li>
                                       <li class="mega-menu-position"><a href="{% url 'shop' %}">Игры</a>

                                        </li>
                                        <li><a href="#">Страницы</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="{% url 'about' %}">О нас</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'shop' %}">Католог игр</a>
                                                </li>
                                                 <li>
                                                    <a href="{% url 'view_cart' %}">Корзина</a>
                                                </li>
                                                <li>
                                                  {% if user.is_authenticated %}
                                                     <a href="{% url 'profile' %}">Мой аккаунт</a>
                                                  {% else %}
                                                     <a href="{% url 'login-register' %}">Авторизация / Регистрация</a>
                                                  {% endif %}
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href="{% url 'about' %}">О нас</a></li>
                                        <li><a href="{% url 'contact' %}">Связаться с нами</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-7">
                            <div class="search-login-cart-wrapper">
                                <div class="header-search same-style">
                                    <button class="search-toggle">
                                        <i class="icon-magnifier s-open"></i>
                                        <i class="ti-close s-close"></i>
                                    </button>
                                    <div class="search-content">
                                        <form action="{% url 'shop' %}" id="searchForm">
                                            <input type="text" placeholder="Поиск" name="q" value="{{ request.GET.q }}" autocomplete="off">
                                            <button type="submit">
                                                <i class="icon-magnifier"></i>
                                            </button>
                                        </form>
                                        <div id="search-results"></div>
                                    </div>
                                </div>

                                <div class="header-login same-style">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'profile' %}"><i class="icon-user icons"></i></a>
                                    {% else %}
                                        <a href="{% url 'login-register' %}"><i class="icon-user icons"></i></a>
                                    {% endif %}
                                </div>
                                <div class="header-cart same-style">


                                    <!--ИКОНКА КОРЗИНЫ-->
                                    <button class="icon-cart">
                                        <a href="{% url 'view_cart' %}"><i class="icon-handbag"></i></a>
                                        {% if user.is_authenticated %}
                                            <span class="count-style">{{ cart_items.count }}</span>
                                        {% else %}
                                            <span class="count-style">{{ cart_items }}</span>
                                        {% endif %}
                                    </button>



                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-area electro-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li><a href="#">HOME</a>
                                            <ul>
                                                <li><a href="index.html">home version 1</a></li>
                                                <li><a href="index-2.html">home version 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul>
                                                <li>
                                                    <a href="about-us.html">О нас</a>
                                                </li>
                                                <li>
                                                    <a href="shop-page.html">Католог игр</a>
                                                </li>


                                                 <li>
                                                    <a href="cart.html">Корзина</a>
                                                </li>
                                                <li>
                                                    <a href="my-account.html">Мой аккаунт</a>
                                                </li>
                                                <li>
                                                    <a href="login-register.html">Авторизация / Регистрация</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Игры</a>
                                            <ul>
                                                <li><a href="#">Dogs Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Grapes and Raisins</a></li>
                                                        <li><a href="shop-page.html">Carrots</a></li>
                                                        <li><a href="shop-page.html">Peanut Butter</a></li>
                                                        <li><a href="shop-page.html">Salmon fishs</a></li>
                                                        <li><a href="shop-page.html">Eggs</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Cats Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Meat</a></li>
                                                        <li><a href="shop-page.html">Fish</a></li>
                                                        <li><a href="shop-page.html">Eggs</a></li>
                                                        <li><a href="shop-page.html">Veggies</a></li>
                                                        <li><a href="shop-page.html">Cheese</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Fishs Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Rice</a></li>
                                                        <li><a href="shop-page.html">Veggies</a></li>
                                                        <li><a href="shop-page.html">Cheese</a></li>
                                                        <li><a href="shop-page.html">wheat bran</a></li>
                                                        <li><a href="shop-page.html">Cultivation</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">blog</a>
                                            <ul>
                                                <li>
                                                    <a href="blog.html">blog page</a>
                                                </li>
                                                <li>
                                                    <a href="blog-leftsidebar.html">blog left sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="">blog details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html"> Связаться с нами </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>