{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
     .timer-style span {
            border: 2px solid #ebebeb;
            border-radius: 3px;
            color: #242424;
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            margin: 0 18px 0 0;
            padding: 7px 14px 6px;
            text-align: center;
        }
        .timer-style span:last-child {
            margin: 0 0px 0 0;
        }
        .timer-style span p {
            color: #404040;
            font-size: 13px;
            font-weight: 400;
            margin: 9px 0 0;
            position: relative;
        }
        .timer-style span p::before {
            background-color: #aaa;
            border-radius: 100%;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -5px;
            transition: all 0.4s ease 0s;
            width: 100%;
        }
</style>

<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel">
        <div class="single-slider pt-100 pb-100 yellow-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 col-sm-7">
                        <div class="slider-content slider-animated-1 pt-114">
                            <h3 class="animated">Только у нас</h3>
                            <h1 class="animated">Самые горячие <br>Игры и Цены</h1>
                            <div class="slider-btn">
                                <a class="animated" href="shop-page.html">Купи сейчас</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-sm-5">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" id="mass" src="{% static 'img/slider/mass.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider pt-100 pb-100 yellow-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-12">
                        <div class="slider-content slider-animated-1 pt-114">
                            <h3 class="animated">Только у нас</h3>
                            <h1 class="animated">Самые горячие <br>Игры и Цены</h1>
                            <div class="slider-btn">
                                <a class="animated" href="product-details.html">Купи сейчас</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-5 col-12">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" id="doom" src="{% static 'img/slider/doom.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="food-category food-category-col pt-100 pb-60" style="background-color: rgb(168, 211, 225);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-food-category cate-padding-1 text-center mb-30">
                    <div class="single-food-hover-2">
                        <img src="{% static 'img/product/call.jpg' %}" alt="">
                    </div>
                    <div class="single-food-content">
                        <h3>Играй с удовольствием</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-food-category cate-padding-2 text-center mb-30">
                    <div class="single-food-hover-2">
                        <img src="{% static 'img/product/far.jpg' %}" alt="">
                    </div>
                    <div class="single-food-content">
                        <h3>В отличные игры</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-food-category cate-padding-3 text-center mb-30">
                    <div class="single-food-hover-2">
                        <img src="{% static 'img/product/hol.jpg' %}" alt="">
                    </div>
                    <div class="single-food-content">
                        <h3>Приключения не ждут</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pt-95 pb-70 gray-bg" style="background-color: rgb(158, 201, 215);">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>Популярно Сейчас</h2>
        </div>

        <div class="row">


            <!--КАРТОЧКА-->
{% csrf_token %}
{% for game in games %}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="product-wrapper mb-10">
        <div class="product-img">
            <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" class="quick-view" data-id="{{ game.id }}" data-title="{{ game.title }}" data-image="{{ game.image.url }}" data-sale-price="{{ game.sale_price }}" data-price="{{ game.price }}" data-description="{{ game.description }}">
                <img src="{{ game.image.url }}" alt="">
            </a>
            <div class="product-action">
                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" class="quick-view" data-id="{{ game.id }}" data-title="{{ game.title }}" data-image="{{ game.image.url }}" data-sale-price="{{ game.sale_price }}" data-price="{{ game.price }}" data-description="{{ game.description }}">
                    <i class="ti-plus"></i>
                </a>
                <a title="Add To Cart" href="#" class="add-to-cart" data-id="{{ game.id }}" data-name="{{ game.title }}" data-price="{{ game.price }}" data-image="{{ game.image.url }}">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
        </div>
        <div class="product-content">
            <h4><a href="product-details.html">{{ game.title }}</a></h4>
            <div class="product-price">
                {% if game.sale_price %}
                <span class="new"> {{ game.sale_price }}₽ </span>
                <span class="old"> {{ game.price }}₽ </span>
                {% else %}
                <span class="old" style="text-decoration: none"> {{ game.price }}₽ </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<h3>Не нашли то что искали((</h3>
{% endfor %}



        </div>
    </div>
</div>
<div class="deal-area bg-img pt-95 pb-100" style="background-color: rgb(168, 211, 225);">
    <div class="container">
        <div class="section-title text-center mb-50">

            <h2>Игра недели</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="deal-img wow fadeInLeft">
                    <a href="#"><img src="{% static 'img/banner/HellDrivers2.jpg' %}" style="border-radius: 8px;"
                                     alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="deal-content">
                    <h3><a href="#"><b>Helldivers 2</b></a></h3>
                    <div class="deal-pro-price">
                        <span class="deal-old-price">4500₽</span>
                        <span> 3500₽</span>
                    </div>
                    <p><b>Helldivers 2</b> — это командный шутер от третьего лица, в котором элитным отрядам Адских
                        Десантников предстоит одержать верх в битвах по всей галактике и избавить мир от инопланетных
                        угроз. В боях с видом от третьего лица игроки будут использовать разнообразное оружие и
                        стратагемы уничтожая полчища врагов. Сцены сражений насыщены кровью и частями тел инопланетных
                        врагов. При огне по своим — как и при неудачном срабатывании взрывчатки — игроки получают урон .
                    </p>
                    <div class="timer timer-style">
<!--                        <div data-countdown="2024/06/30"></div>-->
                        <div id="countdown"></div>
                    </div>
                    <div class="discount-btn mt-35">
                        <a class="btn-style" href="#">Купи Сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-area bg-img pt-100 pb-65" style="background-color: rgb(168, 211, 225);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-content text-center mb-30 service-color-1">
                    <img src="{% static 'img/icon-img/shipping.png' %}" alt="">
                    <h4>Моментальное получение</h4>
                    <p>Вы мгновенно получите ключ после оплаты </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-content text-center mb-30 service-color-2">
                    <img src="{% static 'img/icon-img/support.png' %}" alt="">
                    <h4>Поддержка</h4>
                    <p>Онлайн поддержка, готовая помочь с любым вопросом</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-content text-center mb-30 service-color-3">
                    <img src="{% static 'img/icon-img/money.png' %}" alt="">
                    <h4>Скидки</h4>
                    <p>Постоянные скидки, на разнобразные игры</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pb-70" style="background-color: rgb(168, 211, 225);">
    <div class="container">
        <div class="section-title text-center mb-60">

            <h2>Скоро выходят</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrapper mb-30 gray-bg" style="border-radius: 8px;">
                    <div class="blog-img hover-effect" style="border-radius: 8px;">
                        <a href=""><img alt="" src="{% static 'img/blog/Ghost.jpg' %}"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li>Июль 17, 2024</li>
                            </ul>
                        </div>
                        <h4><a href="">Ghost of Tsushima</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="border-radius: 8px;">
                <div class="blog-wrapper mb-30 gray-bg" style="border-radius: 8px;">
                    <div class="blog-img hover-effect" style="border-radius: 8px;">
                        <a href=""><img alt="" src="{% static 'img/blog/gothicc.jpg' %}"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>

                                <li>Сентябрь 11, 2024</li>
                            </ul>
                        </div>
                        <h4><a href="">Gothic</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="border-radius: 8px;">
                <div class="blog-wrapper mb-30 gray-bg" style="border-radius: 8px;">
                    <div class="blog-img hover-effect" style="border-radius: 8px;">
                        <a href=""><img alt="" src="{% static 'img/blog/Hades2.jpg' %}"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>

                                <li>Октябрь 24, 2024</li>
                            </ul>
                        </div>
                        <h4><a href="">Hades II</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ti-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qwick-view-left">
                    <div class="quick-view-learg-img">
                        <div class="quick-view-tab-content tab-content">
                            <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                <img id="modal-image" src="{% static 'img/quick-view/l1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qwick-view-right">
                    <div class="qwick-view-content">
                        <h3 id="modal-title">Dog Calcium Food</h3>
                        <div class="product-price">
                            <span class="new" id="modal-sale-price"></span>
                            <span class="old" id="modal-price"></span>
                        </div>
                        <p id="modal-description">Lorem ipsum dolor sit amet, consectetur adip elit, sed do amt tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                        <div class="quickview-plus-minus">
                            <div class="cart-plus-minus">
                                <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box" id="modal-quantity">
                            </div>
                            <div class="quickview-btn-cart">
                                <a class="btn-style add-to-cart" href="#" id="modal-add-to-cart-btn">Добавить в корзину</a>
                            </div>
                        </div>
                        <input type="hidden" id="modal-game-id">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    function updateCountdown() {
        const countdownElement = document.getElementById('countdown');
        const targetDate = new Date('2024-06-30T00:00:00');
        const now = new Date();
        const timeDifference = targetDate - now;

        if (timeDifference <= 0) {
            countdownElement.innerHTML = "Время истекло";
            return;
        }

        const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

        const daysText = days === 1 ? 'день' : (days < 5 ? 'дня' : 'дней');
        const hoursText = hours === 1 ? 'час' : (hours < 5 ? 'часа' : 'часов');
        const minutesText = minutes === 1 ? 'минута' : (minutes < 5 ? 'минуты' : 'минут');
        const secondsText = seconds === 1 ? 'секунда' : (seconds < 5 ? 'секунды' : 'секунд');

        countdownElement.innerHTML = `
            <span>
                ${days}
                <p>${daysText}</p>
            </span>
            <span>
                ${hours}
                <p>${hoursText}</p>
            </span>
            <span>
                ${minutes}
                <p>${minutesText}</p>
            </span>
            <span>
                ${seconds}
                <p>${secondsText}</p>
            </span>
        `;
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var quickViewLinks = document.querySelectorAll('.quick-view');
    var addToCartLinks = document.querySelectorAll('.add-to-cart');

    quickViewLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            var title = link.getAttribute('data-title');
            var image = link.getAttribute('data-image');
            var salePrice = link.getAttribute('data-sale-price');
            var price = link.getAttribute('data-price');
            var description = link.getAttribute('data-description');
            var gameId = link.getAttribute('data-id');

            document.getElementById('modal-title').textContent = title;
            document.getElementById('modal-image').src = image;
            document.getElementById('modal-description').textContent = description;
            document.getElementById('modal-game-id').value = gameId;

            if (salePrice && salePrice !== 'None') {
                document.getElementById('modal-sale-price').textContent = salePrice + '₽';
                document.getElementById('modal-sale-price').style.display = 'inline';
                document.getElementById('modal-price').textContent = price + '₽';
                document.getElementById('modal-price').classList.add('old');
            } else {
                document.getElementById('modal-sale-price').style.display = 'none';
                document.getElementById('modal-price').textContent = price + '₽';
                document.getElementById('modal-price').classList.remove('old');
            }
        });
    });

    addToCartLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            var gameId = link.getAttribute('data-id');
            var quantity = 1; // Default quantity

            console.log(`Game ID: ${gameId}`); // Added for debugging

            console.log(`Sending POST request to /add-to-cart/ with game_id: ${gameId} and quantity: ${quantity}`);

            fetch('/add-to-cart/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': window.CSRF_TOKEN
                },
                body: JSON.stringify({
                    game_id: gameId,
                    quantity: quantity
                })
            })
            .then(response => {
                console.log(`Response status: ${response.status}`);
                return response.json();
            })
            .then(data => {
                console.log(data);
                if (data.message === 'Added to cart') {
                    alert('Игра добавлена в корзину');
                    window.location.reload();
                }
            })
            .catch(error => {
                console.log(`Error: ${error}`);
            });
        });
    });

    // Handler for the add to cart button inside the modal
    document.getElementById('modal-add-to-cart-btn').addEventListener('click', function (event) {
        event.preventDefault();
        var gameId = document.getElementById('modal-game-id').value;
        var quantity = document.getElementById('modal-quantity').value;

        console.log(`Game ID (modal): ${gameId}`); // Added for debugging

        console.log(`Sending POST request to /add-to-cart/ with game_id: ${gameId} and quantity: ${quantity}`);

        fetch('/add-to-cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': window.CSRF_TOKEN
            },
            body: JSON.stringify({
                game_id: gameId,
                quantity: quantity
            })
        })
        .then(response => {
            console.log(`Response status: ${response.status}`);
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data.message === 'Added to cart') {
                alert('Игра добавлена в корзину');
                window.location.reload();
            }
        })
        .catch(error => {
            console.log(`Error: ${error}`);
        });
    });
});

</script>

{% endblock %}