{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .order-card {
        display: flex;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
    }

    .order-image img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
    }

    .order-details {
        flex: 1;
    }

    .order-details p {
        margin: 5px 0;
    }

</style>
<div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({% static 'img/banner/1.jpeg' %});">
    <div class="container"></div>
</div>

<!-- my account start -->
<div class="my-account-area pt-100 pb-70" style="background-color: rgb(168, 211, 225);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq"
                                                                          href="#my-account-1">Изменить ваши
                                    персональные данные</a></h5>
                            </div>
                            <div id="my-account-1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <div class="account-info-wrapper">
                                            <h4>Ваши персональные данные</h4>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ profile_form.username.errors }}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Имя</label>
                                                        {{ profile_form.username }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Email</label>
                                                        {{ profile_form.email }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <a href="#"><i class="ti-arrow-up"></i> Назад</a>
                                                </div>
                                                <div class="billing-btn">
                                                    <button type="submit" name="update_profile">Продолжить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>2</span> <a data-toggle="collapse" data-parent="#faq"
                                                                          href="#my-account-2">Изменить ваш пароль</a>
                                </h5>
                            </div>
                            <div id="my-account-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <div class="account-info-wrapper">
                                            <h4>Ваш пароль</h4>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ password_form.old_password.errors }}
                                            {{ password_form.new_password1.errors }}
                                            {{ password_form.new_password2.errors }}
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Старый Пароль</label>
                                                        {{ password_form.old_password }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Новый Пароль</label>
                                                        {{ password_form.new_password1 }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Подтвердить пароль</label>
                                                        {{ password_form.new_password2 }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <a href="#"><i class=" ti-arrow-up"></i> Назад</a>
                                                </div>
                                                <div class="billing-btn">
                                                    <button type="submit" name="change_password">Продолжить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>3</span> <a data-toggle="collapse" data-parent="#faq"
                                                                          href="#my-account-3">Ваши заказы</a></h5>
                            </div>
                            <div id="my-account-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <div class="account-info-wrapper">
                                            <h4>Ваши заказы</h4>
                                        </div>
                                        <div class="order-list">
                                            {% for order in orders %}
                                            <div class="order-card">
                                                <div class="order-image">
                                                    <img src="{{ order.game.image.url }}" alt="{{ order.game.title }}">
                                                </div>
                                                <div class="order-details">
                                                    <p><strong>Название игры:</strong> {{ order.game.title }}</p>
                                                    <p><strong>Цена за игру:</strong> {{ order.game.price }}₽</p>
                                                    <p><strong>Количество:</strong> {{ order.quantity }}</p>
                                                    {% if order.game.title == 'Mortal Shell' %}
                                                        <p><strong><b>Ключ:</b></strong> I7WM5-NI34K-YMFRF</p>
                                                    {% else %}
                                                        <p><strong><b>Ключ:</b></strong> {{ order.unique_key }}</p>
                                                    {% endif %}
                                                    <p><strong>Дата заказа:</strong> {{ order.created_at|date:"d M Y H:i" }}</p>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <p>У вас нет заказов.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="billing-btn">
                            <a href="{% url 'logout' %}" class="btn btn-danger">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
