{% extends 'base.html' %}
{% load static %}
{% load mytags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
<style>
    .irs--flat .irs-bar {
        background-color: #7e4c4f !important;
    }

    .irs--flat .irs-handle>i:first-child {
         background-color: #7e4c4f !important;
    }

    .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
         background-color: #7e4c4f !important;
    }

    .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
        border-top-color: #7e4c4f !important;
    }
</style>

        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({% static 'img/banner/banner.jpg' %});">
            <div class="container">
                
            </div>
        </div>
        <div class="shop-area pt-100 pb-100 gray-bg" style="background-color: rgb(168, 211, 225);">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="product-sorting-wrapper">
                                <div class="product-show shorting-style">
                                    <label>Отображается <span>{{ page_obj.start_index }}-{{ page_obj.end_index }}</span> Из <span>{{ page_obj.paginator.count }}</span> Результаты</label>
                                </div>
                            </div>
                            <div class="grid-list-options">
                                <ul class="view-mode">
                                    <li class="active"><a href="#product-grid" data-view="product-grid"><i class="ti-layout-grid4-alt"></i></a></li>
                                    <li><a href="#product-list" data-view="product-list"><i class="ti-align-justify"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-list-product-wrapper">
                            <div class="product-view product-grid">
                                <div class="row">
                                    {% csrf_token %}
                                    {% for game in games %}
                                        <div class="product-width col-lg-6 col-xl-4 col-md-6 col-sm-6">
                                            <div class="product-wrapper mb-10">
                                                <div class="product-img">
                                                    <a href="product-details.html">
                                                        <img src="{{ game.image.url }}" alt="">
                                                    </a>
                                                    <div class="product-action">
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" class="quick-view" data-id="{{ game.id }}" data-title="{{ game.title }}" data-image="{{ game.image.url }}" data-sale-price="{{ game.sale_price }}" data-price="{{ game.price }}" data-description="{{ game.description }}">
                                                            <i class="ti-plus"></i>
                                                        </a>
                                                          <a title="Add To Cart" href="#" class="add-to-cart" data-id="{{ game.id }}" data-name="{{ game.title }}" data-price="{{ game.price }}" data-image="{{ game.image.url }}">
                                                                <i class="ti-shopping-cart"></i>
                                                          </a>
                                                    </div>
                                                </div>
                                                <div class="product-content" data-price="19" >
                                                    <h4><a href="product-details.html">{{ game.title }}</a></h4>
                                                    <div class="product-price">
                                                        {% if game.sale_price %}
                                                        <span class="new"> {{ game.sale_price }}₽ </span>
                                                        <span class="old"> {{ game.price }}₽ </span>
                                                        {% else %}
                                                        <span class="old" style="text-decoration: none"> {{ game.price }}₽ </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                  <div class="product-list-content" data-price="200">
                                                <h4><a href="#">{{ game.title }}</a></h4>
                                                <div class="product-price">
                                                     {% if game.sale_price %}
                                                        <span class="new"> {{ game.sale_price }}₽ </span>
                                                        <span class="old"> {{ game.price }}₽ </span>
                                                        {% else %}
                                                        <span class="old" style="text-decoration: none"> {{ game.price }}₽ </span>
                                                        {% endif %}
                                                </div>
                                                <p>{{ game.description }}</p>
                                                <div class="product-list-action">
                                                    <div class="product-list-action-left">
                                                        <a class="add-to-cart" title="Add to cart" href="#" data-id="{{ game.id }}" data-name="{{ game.title }}" data-price="{{ game.price }}" data-image="{{ game.image.url }}"><i class="ion-bag"></i> Добавить в корзину</a>
                                                    </div>
                                                    <div class="product-list-action-right">
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" class="quick-view" data-id="{{ game.id }}" data-title="{{ game.title }}" data-image="{{ game.image.url }}" data-sale-price="{{ game.sale_price }}" data-price="{{ game.price }}" data-description="{{ game.description }}">
                                                            <i class="ti-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                    <h3>Не нашли то что искали((</h3>
                                    {% endfor %}
                                </div>

                                <div class="pagination-style text-center mt-10">
                                    <ul>
                                        <li>
                                            {% if page_obj.has_previous %}
                                                <a href="?page={{ page_obj.previous_page_number }}"><i class="icon-arrow-left"></i></a>
                                               {% endif %}
                                        </li>
                                        <li>
                                            <a href="#" class="active">{{ page_obj.number }}</a>
                                        </li>
                                        <li>
                                             {% if page_obj.has_next %}
                                                <a  href="?page={{ page_obj.next_page_number }}"><i class="icon-arrow-right"></i></a>
                                             {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="shop-sidebar">
                            <div class="shop-widget">
                                <h4 class="shop-sidebar-title">Поиск игр</h4>
                                <div class="shop-search mt-25 mb-50">
                                    <form class="shop-search-form">
                                        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Найди игру">
                                        <button type="submit">
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="shop-widget">
                                <h4 class="shop-sidebar-title">Сортировать по цене</h4>
                                 <div class="price_filter mt-25">
                                    <div id="slider-range" style="display: none"></div>
                                     <input type="text" class="js-range-slider" style="background-color:white"/>
<!--                                    <div class="price_slider_amount">-->
<!--                                        <div class="label-input">-->
<!--                                            <label>Цена: </label>-->
<!--                                            <input type="text" id="amount" name="price"  placeholder="Выберете цену" readonly/>-->
<!--                                            -->
<!--                                        </div>-->
<!--                                        <button type="button" id="filter-button">Сортировать</button> -->
<!--                                    </div>-->
                                </div>
                            </div>
<!--                            genre
game_models
platform-->
                            <br>
                            <a href="{% url 'shop' %}" class="shop-sidebar-title" style="margin-bottom: 0px">Очистить фильтр</a>
                            <div class="shop-widget mt-25">
                                <h4 class="shop-sidebar-title">Жанры</h4>
                                 <div class="shop-list-style mt-20">
                                    <ul>
                                        {% for genre in genres %}
                                            <li><a {% if request.GET.genre == genre.pk|stringformat:'i' %}style="color: #7e4c4f;padding-left: 5px;"{% endif %} onclick="addUrlParameter('genre', '{{ genre.pk }}')" style="cursor: pointer">{{ genre.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="shop-widget mt-50">
                                <h4 class="shop-sidebar-title">Режимы игры</h4>
                                 <div class="shop-list-style mt-20">
                                    <ul>
                                       {% for game_mode in game_models %}
                                            <li><a {% if request.GET.game_mode == game_mode.pk|stringformat:'i' %}style="color: #7e4c4f;padding-left: 5px;"{% endif %} onclick="addUrlParameter('game_mode', '{{ game_mode.pk }}')" style="cursor: pointer">{{ game_mode.title }}</a></li>
                                       {% endfor %}
                                    </ul>
                                </div>
                            </div>                           
                            <div class="shop-widget mt-50">
                                <h4 class="shop-sidebar-title">Платформы</h4>
                                 <div class="shop-list-style mt-20">
                                    <ul>
                                        {% for platform in platforms %}
                                            <li><a {% if request.GET.platform == platform.pk|stringformat:'i' %}style="color: #7e4c4f;padding-left: 5px;"{% endif %} onclick="addUrlParameter('platform', '{{ platform.pk }}')" style="cursor: pointer">{{ platform.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ti-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qwick-view-left">
                    <div class="quick-view-learg-img">
                        <div class="quick-view-tab-content tab-content">
                            <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                <img id="modal-image" src="{% static 'img/quick-view/l1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qwick-view-right">
                    <div class="qwick-view-content">
                        <h3 id="modal-title">Dog Calcium Food</h3>
                        <div class="product-price">
                            <span class="new" id="modal-sale-price"></span>
                            <span class="old" id="modal-price"></span>
                        </div>
                        <p id="modal-description">Lorem ipsum dolor sit amet, consectetur adip elit, sed do amt tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                        <div class="quickview-plus-minus">
                            <div class="cart-plus-minus">
                                <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box" id="modal-quantity">
                            </div>
                            <div class="quickview-btn-cart">
                                <a class="btn-style add-to-cart" href="#" id="modal-add-to-cart-btn">Добавить в корзину</a>
                            </div>
                        </div>
                        <input type="hidden" id="modal-game-id">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
                 /*---------------------
    price slider СОРТИРОВКА ПО ЦЕНЕ
    --------------------- */
    $(document).ready(function() {
        var sliderrange = $('#slider-range');
        var amountprice = $('#amount');
        var filterButton = $('#filter-button');

        // Функция фильтрации товаров
        function filterProducts(minPrice, maxPrice) {
            $('.product-width').each(function() {
                var productContent = $(this).find('.product-content'); // Ищем .product-content внутри .product-width
                var productPrice = parseFloat(productContent.data('price')); // Получаем цену из data-price
                if (productPrice >= minPrice && productPrice <= maxPrice) {
                    $(this).show(); // Показываем весь блок .product-width
                } else {
                    $(this).hide(); // Скрываем весь блок .product-width
                }
            });
        }

        // Настройка слайдера
        sliderrange.slider({
            range: true,
            min: 10,
            max: 999,
            values: [10, 999],
            slide: function(event, ui) {
                amountprice.val(ui.values[0] + "₽ - " + ui.values[1] + "₽");
            }
        });

        amountprice.val(sliderrange.slider("values", 0) + "₽ - " + sliderrange.slider("values", 1) + "₽");

        // Обработчик кнопки фильтрации
        filterButton.click(function() {
            var minPrice = sliderrange.slider("values", 0);
            var maxPrice = sliderrange.slider("values", 1);
            filterProducts(minPrice, maxPrice); // Вызов функции фильтрации
        });

        // Начальная фильтрация при загрузке страницы
        filterProducts(sliderrange.slider("values", 0), sliderrange.slider("values", 1)); // Вызов функции фильтрации
    });
            </script>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var quickViewLinks = document.querySelectorAll('.quick-view');
    var addToCartLinks = document.querySelectorAll('.add-to-cart');

    quickViewLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            var title = link.getAttribute('data-title');
            var image = link.getAttribute('data-image');
            var salePrice = link.getAttribute('data-sale-price');
            var price = link.getAttribute('data-price');
            var description = link.getAttribute('data-description');
            var gameId = link.getAttribute('data-id');

            document.getElementById('modal-title').textContent = title;
            document.getElementById('modal-image').src = image;
            document.getElementById('modal-description').textContent = description;
            document.getElementById('modal-game-id').value = gameId;

            if (salePrice && salePrice !== 'None') {
                document.getElementById('modal-sale-price').textContent = salePrice + '₽';
                document.getElementById('modal-sale-price').style.display = 'inline';
                document.getElementById('modal-price').textContent = price + '₽';
                document.getElementById('modal-price').classList.add('old');
            } else {
                document.getElementById('modal-sale-price').style.display = 'none';
                document.getElementById('modal-price').textContent = price + '₽';
                document.getElementById('modal-price').classList.remove('old');
            }
        });
    });

    addToCartLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            var gameId = link.getAttribute('data-id');
            var quantity = 1; // Default quantity

            console.log(`Game ID: ${gameId}`); // Added for debugging

            console.log(`Sending POST request to /add-to-cart/ with game_id: ${gameId} and quantity: ${quantity}`);

            fetch('/add-to-cart/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': window.CSRF_TOKEN
                },
                body: JSON.stringify({
                    game_id: gameId,
                    quantity: quantity
                })
            })
            .then(response => {
                console.log(`Response status: ${response.status}`);
                return response.json();
            })
            .then(data => {
                console.log(data);
                if (data.message === 'Added to cart') {
                    alert('Игра добавлена в корзину');
                    window.location.reload();
                }
            })
            .catch(error => {
                console.log(`Error: ${error}`);
            });
        });
    });

    // Handler for the add to cart button inside the modal
    document.getElementById('modal-add-to-cart-btn').addEventListener('click', function (event) {
        event.preventDefault();
        var gameId = document.getElementById('modal-game-id').value;
        var quantity = document.getElementById('modal-quantity').value;

        console.log(`Game ID (modal): ${gameId}`); // Added for debugging

        console.log(`Sending POST request to /add-to-cart/ with game_id: ${gameId} and quantity: ${quantity}`);

        fetch('/add-to-cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': window.CSRF_TOKEN
            },
            body: JSON.stringify({
                game_id: gameId,
                quantity: quantity
            })
        })
        .then(response => {
            console.log(`Response status: ${response.status}`);
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data.message === 'Added to cart') {
                alert('Игра добавлена в корзину');
                window.location.reload();
            }
        })
        .catch(error => {
            console.log(`Error: ${error}`);
        });
    });
});

</script>
 <script>
        function addUrlParameter(name, value) {
            let searchParams = new URLSearchParams(window.location.search)
            if (['genre', 'game_mode', 'platform'].includes(name)) {
                searchParams.delete('?');
            }
            if (searchParams.has(name) && searchParams.get(name) === value) {
                searchParams.delete(name);
            } else {
                searchParams.set(name, value)
            }
            window.location.search = searchParams.toString()
        }
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

<script>
  $(".js-range-slider").ionRangeSlider({
    type: "double",
    grid: true,
    min: {{ min_price|floatformat:2|default_if_none:"0.00"|replace:",","." }},
    max: {{ max_price|floatformat:2|default_if_none:"0.00"|replace:",","." }},
    from: {% get_price request 0 %} || null,
    to: {% get_price request 1 %} || null,
    prefix: "₽",
    onFinish: function (data) {
        let result = data.from.toString() + ';' + data.to.toString();
        addUrlParameter('price', result);
    }
});

    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search);
        searchParams.set(name, value);
        window.location.search = searchParams.toString();
    }
</script>
{% endblock %}
